<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="mystyle.css">
    <title><%= mytitle %></title>
    <style>
        input,button{
            font-size: 30px;
        }
    </style>
</head>
<body>
    <!-- <h1>whate is your name</h1>
    <form name="username"  action="/" method="post">
        <input type="text">
        <br>
        <br>
        <button>send to db</button>
    </form> -->
    <form action="/" method="post">
        <label for="title">Article title:</label>
        <input type="text" id="title" name="title" required>
        <br>
        <br>
     
        <label for="summary">Article summary:</label>
        <input type="text" id="summary" name="summary" required>
        <br>
        <br>
     
        <label for="body">Article body:</label>
        <textarea id="body" name="body" required></textarea>
        <br>
        <br>
     
        <button class="create">Create</button>
    </form>
    <h1>Article title:<%= arr[0].title %></h1>
    <h1>Article summary:<%= arr[0].summary %></h1>
    <h1>Article body:<%= arr[0].body %></h1>

    <h1>Article title:<%= arr.at(-1).title %></h1>
    <h1>Article summary:<%= arr.at(-1).summary %></h1>
    <h1>Article body:<%= arr.at(-1).body %></h1>
</body>
</html>